export CR_OWNER=katter
export CR_GIT_REPO=kt-helm
export CR_PACKAGE_PATH=.deploy
export CR_TOKEN=$(< ../github-token-chart-release.txt)
export CR_GIT_BASE_URL="https://api.github.com/"
export CR_GIT_UPLOAD_URL="https://uploads.github.com/"
export CR_SKIP_EXISTING=true